.card-project {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 280px;
  box-shadow: 10px 10px 0px rgb(0, 68, 255);
}

.card-project .logo {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-project .logo.-ig {
  object-position: -65px top;
}

.card-project .logo.-api {
  object-position: -22px top;
}

.card-project .logo.-crud {
  object-position: left top;
}
