.main-title {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 30px;
  color: #ff3e3e;
  text-shadow: 4px 4px 0px #000;
}

.main-title.-second {
  color: white;
  position: relative;
  text-shadow: none;
  text-align: center;
}

.main-title.-second.-contacts {
  margin-bottom: 30px;
}